*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
}
body{
    width:100%;
    height: auto;
    background:url(../img/1.jpg) no-repeat;
}
#wrap{
    width:1080px;
    height:1920px;
    position: relative;
}
.top{
    width:100%;
    height: 121px;
    margin-top:32px;
    background:url(../img/2.jpg);
}
.top p{
    text-align: center;
    line-height:121px;
    color:#fff;
    font-size:28px;
}
.top p b{
    color:#32C1FD;
    font-size:36px;
}
.top p .bb{
    color:#0FCB81;
    font-size:36px;
}
.main{
    width:1080px;
    height: 706px;
    margin:0 auto;
    position: relative;
}
.main .img1{
    border-radius: 50%;
    position: absolute;
    left: 27%;
    top:4%;
    border:8px solid #3F618F;
}
.main .img2{
    border-radius: 50%;
    position: absolute;
    left: 3%;
    top:20%;
    border:8px solid #3F618F;
}
.main .img3{
    width:269px;
    height:262px;
    border-radius: 50%;
    position: absolute;
    left: 8%;
    top:54%;
    border:8px solid #3F618F;
}
.right_top{
    width:321px;
    height: 273px;
    padding-top:113px;
    color:#fff;
    position: absolute;
    right:0;
    top:0;
}
.right_top h2{
    font-size:65px;
    padding-left:32px;
}
.right_top h4{
    font-size:26px;
}
.right_bottom{
    width:608px;
    height: 375px;
    position: absolute;
    right:62px;
    top:273px;
}
.right_bottom p{
    color:#fff;
    line-height:43px;
    text-indent: 24px;
    font-size:25px;
}
.next{
    width:853px;
    height: 315px;
    position: relative;
}
.next dl, .next1 dl, .next2 dl{
    width:535px;
    height: 315px;
    text-align: center;
    
}
.next dl dt{
    width:274px;
    height:124px;
    position: absolute;
    top:35%;
    left:34%;
}
.next dl dt span, .next1 dl dt span, .next2 dl dt span{
    font-size:45px;
    color:#fff;
    line-height:40px;
}
.next dl dt p, .next1 dl dt p, .next2 dl dt p{
    padding-top:40px;
    color:#fff;
    font-size:22px;
}
.next dl dd{
    position: absolute;
    right: -9.5%;
    top:14%;
}
.next1, .next2{
    position: relative;
}
.next1 dl dd{
    position: absolute;
    left: 9%;
    top:20%;
}
.next1 dl dt{
    position: absolute;
    right: 37.5%;
    top:44%;
}
.next dl dd img, .next1 dl dd img, .next2 dl dd img{
    border-radius: 50%;
    width:235px;
    height:238px;
}
.next2 dl dt{
    position: absolute;
    left: 32.5%;
    top:57%;
}
.next2 dl dd{
    position: absolute;
    right: 13%;
    top:35%;
}
.footer{
    width:118px;
    height: 97px;
    position: absolute;
    right:0;
    bottom:0;
}
.footer span{
    width:12px;
    height: 12px;
    display:inline-block;
    background:#DBDEE3;
    border-radius: 50%;
}